<aside class="sidebar" [class.collapsed]="isCollapsed">
    <!-- Header -->
    <header class="sidebar-header">
        <!-- <button class="sidebar-toggler" (click)="toggleSidebar()">
            <span class="material-symbols-rounded">chevron_left</span>
        </button> -->
        <span href="#" class="header-logo" (click)="toggleSidebar()">
            <img [src]="isCollapsed ? '../../assets/images/glob.png' : '../../assets/images/Vedaa Logo 1 1.png'" alt="Logo" />
        </span>
    </header>

    <nav class="sidebar-nav">
        <!-- Primary Menu -->
        <ul class="nav-list primary-nav overflowX">
            <ng-container *ngFor="let item of primaryMenu">
                <li class="nav-item" title="{{ item.project_name }}">
                    <a class="nav-link" (click)="item.project_name === 'Old Project' ? navigateToOldProject() : onMenuClickPrimary(item)">
                        <img [src]="'../../assets/images/' + item.icon" (click)="item.project_name === 'Old Project' ? navigateToOldProject() : null" />
                        <span class="nav-label" (click)="item.project_name === 'Old Project' ? navigateToOldProject() : null">{{ item.project_name }}</span>
                        <span *ngIf="item.project_name === 'Old Project' && !isCollapsed" class="dropdown-icon material-symbols-rounded" (click)="toggleOldProject($event)">
                            {{ oldProjectExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                        </span>
                    </a>
                </li>
            </ng-container>


            <ng-container *ngIf="!isCollapsed && oldProjectExpanded">
                <div class="old-project-list" style="max-height: 300px; overflow-y: auto;" (scroll)="onScroll($event)">
                    <ng-container *ngFor="let item of menuItems()">
                        <li class="nav-item">
                            <a class="nav-link" (click)="onMenuClickPrimary(item)">
                                <span class="material-symbols-rounded">{{ item.icon }}</span>
                                <span class="nav-label">{{ item.project_name }}</span>
                            </a>
                        </li>
                    </ng-container>
                </div>
            </ng-container>
        </ul>

        <!-- Secondary Menu -->
        <ul class="nav-list secondary-nav">
            <li *ngFor="let item of secondaryMenu" class="nav-item">
                <a class="nav-link" (click)="onMenuClick(item)">
                    <span class="material-symbols-rounded">{{ item.icon }}</span>
                    <span class="nav-label">{{ item.label }}</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

<!-- Dropdown -->
<!-- <li class="nav-item dropdown-container" [class.open]="openDropdown === item.label" [attr.data-key]="item.label">

    <a href="#" class="nav-link dropdown-toggle" (click)="toggleDropdown(item.label, $event)">
        <span class="material-symbols-rounded">{{ item.icon }}</span>
        <span class="nav-label">{{ item.label }}</span>
        <span class="dropdown-icon material-symbols-rounded">keyboard_arrow_down</span>
    </a>

    <ul class="dropdown-menu"
        [style.min-height]="openDropdown === item.label ? dropdownHeights[item.label] + 'px' : '0'">
        <li *ngFor="let sub of item.children" class="nav-item">
            <a class="nav-link dropdown-link" [routerLink]="sub.link">{{ sub.label }}</a>
        </li>
    </ul>
</li> -->

<!-- Simple Menu Item -->