<mat-toolbar class="mat-toolbar">
  <!-- <button mat-icon-button aria-label="Search">
    <mat-icon>search</mat-icon>
  </button> -->
 <!-- Search input field -->
  <!-- <div class="custom-input">
    <mat-icon>search</mat-icon>
    <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput placeholder="" />
  </mat-form-field>
  </div> -->
  
  <!-- Spacer pushes content to the right -->
  <span class="spacer"></span>

  <!-- Right side: User info -->
  <div class="user-info">
    
    <span class="username">{{ userobject.fullName }}</span>
    <mat-icon>account_circle</mat-icon>
  </div>
 
</mat-toolbar>
