.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  // position: fixed;
  // left: 0;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  /* space between icon and name */
  font-weight: 500;
}

// start
.custom-input {
  ::ng-deep .mat-form-field-appearance-fill {
    width: 400px;
    background-color: transparent;

    .mat-mdc-text-field-wrapper {
      background-color: transparent;

      .mat-mdc-form-field-infix {
        .mdc-floating-label {
          color: white !important;
        }
      }

      .mdc-line-ripple {
        display: none;
      }

      .mat-mdc-form-field-focus-overlay {
        background-color: transparent;
      }

    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }

}

// end