.container {
  // background: linear-gradient(135deg, #330000, #000);
  padding: 40px 60px;
  border-radius: 16px;
  text-align: left;
  // box-shadow: 0 4px 20px rgba(255, 0, 0, 0.3);

  h1,
  p {
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 0s ease-out forwards;
  }

  h1 {
    font-size: 2.6rem;
    background: linear-gradient(to bottom, #ffffff, #a1a1a1, #5a5a5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    margin-bottom: 0;
    animation-delay: 0s;

    span {
      color: #d3d3d3;
    }

    .emoji {
      font-size: 2.2rem;
      margin-left: 8px;
      display: inline-block;
      animation: bounce 1s ease-in-out 1s both; // bounce after slide
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 1.35;
    color: #D9D9D9;
    margin-bottom: 60px;
    font-weight: 500;
    animation-delay: 0s;
    letter-spacing: 0.02rem;
  }

  .highlight {
    color: #ff4040;
    font-weight: 600;
  }

  .button-group {
    display: flex;
    justify-content: left;
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0s ease-out forwards;
    animation-delay: 0s;
  }

  .btn {
    border: 1px solid #fff;
    color: #D9D9D9;
    background: transparent;
    padding: 12px 28px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.002rem;
    font-weight: 500;
    transition: 0s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
img{
  width: 24px;
    margin-left: 11px;
}
    &:hover {
      background-color: #ff4040;
      border-color: #ff4040;
    }
  }
}

// Keyframes
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
.emoji {
      font-size: 2.2rem;
      margin-left: 8px;
      display: inline-block;
      animation: bounce 1.2s ease-in-out 1.2s both; // bounce after slide
    }