.char-wrap {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  width: 100%;
  // background: #f8f8f8;
  overflow: hidden;

  .new_project_cont {
    color: #fff;
    position: static;
    display: flex;
    top: 0;
    padding-bottom: 15px;
    text-transform: uppercase;

    span {
      font-weight: 1rem;
      font-weight: 800;
    }

    
  }
  .chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  p{
     color: #fff;
    border-bottom: 1px solid #9A0F24;
    padding: 10px 0 10px 14px;
    margin: 0px 0 10px 0;
    font-size: 0.90rem;
    font-weight: 300;
    cursor: pointer;
  }
 
}
}