<!-- my-dialog-content.component.html -->
<div class="custome_idalog">
  <h2 mat-dialog-title>{{ data.title }}</h2>

  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
      <div class="custom-input">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Project Name</mat-label>
          <input matInput placeholder="Enter Project Name" formControlName="project_name" />
          <mat-error *ngIf="projectForm.get('project_name')?.hasError('required')">
            Project name is required
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="onCancel()" style="color: white;">Cancel</button>
      <button
  mat-button
  type="submit"
  [disabled]="projectForm.invalid"
 class="subm_bt"
>
  Submit
</button>
    </mat-dialog-actions>
  </form>
</div>
