.custome_idalog {
  position: relative;
  //  background-color: #56565661;
  // border: 1px solid #6E6E6E;
  // background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  background: #56565661;
  padding-inline: 1rem;
}

.subm_bt {
  background-color: #606060;
  border-radius: 10px;
  padding-inline: 2.2rem;
  padding-block: 0.8rem;
  font-size: 1rem;
  color: #F6F6F6;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: 'Georama';

  ::ng-deep &.mat-mdc-button:not(:disabled) {
    color: #F6F6F6;
  }
}

.mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
  padding: var(--mat-dialog-with-actions-content-padding, 12px 24px 0);
}

// start
.custom-input {

  border: 1px solid #6E6E6E;
  background: #4D4D4D66;
  border-radius: 10px;
  backdrop-filter: blur(4px);

  ::ng-deep .mat-form-field-appearance-fill {
    width: 400px;
    background-color: transparent;
    font-size: 1rem;

    .mat-mdc-text-field-wrapper {
      border: none;
      background: transparent;

      .mat-mdc-form-field-infix {
        .mdc-floating-label {
          color: white !important;
        }
      }

      .mdc-line-ripple {
        display: none;
      }

      .mat-mdc-form-field-focus-overlay {
        background-color: transparent;
      }

    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }
  }

}

.submit-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 20px;
}

// end
::ng-deep .custom-dialog-container {

  .mat-mdc-dialog-container {
    .mat-mdc-dialog-inner-container {
      .mat-mdc-dialog-surface {
        border-radius: 20px;
        background-color: transparent;
        width: 40rem;
      }

    }
  }
}

/* Custom class for the backdrop blur effect */
::ng-deep .custom-dialog-backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
}

.custom-dialogue-title {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 20px;
  vertical-align: middle;
  padding: 10px 0px 0px 30px;
}

.cancel-btn {
  color: #B7B4B4;
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Georama';
}

.mat-mdc-form-field-input-control {
  caret-color: #F6F6F6 !important;
}

.mat-mdc-dialog-container {
  max-width: 40rem;
}

.cross {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  z-index: 9;

  img {
    width: 18px;
  }
}